/* --- BENEFITS SECTION --- */
.benefits__section {
	// padding-bottom: 0;
}

.benefits__title {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--h-headline-text-color);
}

.benefits__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

	//tablet screen
	@media screen and (min-width: 768px) {				
		display: flex;
		gap: 30px;
	}
	
	//desktop screen
	@media screen and (min-width: 1200px) {	
		flex-wrap: nowrap;
	}
}

.benefits__item {
	//phone screen
	width: 100%;

	//tablet screen	
	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - (var(--width-gap-tablet) * (var(--column-pieces-tablet) - 1))) / var(--column-pieces-tablet));
	}	
}

.benefits__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	// width: 270px;
	height: 120px;

	margin-bottom: 30px;

	background-color: var(--background-color-icons-strengths);
	border-radius: 4px;
}

.benefits__sub-title {	
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: var(--h-headline-text-color);
	
	@media screen and (max-width: 767px) {
		text-align: center;
	}
}

.benefits__description {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
