/* --- CARD --- */
.card__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	justify-content: center;
	text-align: center;
	letter-spacing: 0.03em;

	margin-bottom: 10px;

	color: var(--h-headline-text-color);
}

.card__description {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	justify-content: center;
	letter-spacing: 0.03em;

	margin-bottom: 16px;
}

.card__caption {
	padding-top: 30px;
	padding-bottom: 30px;

	text-align: center;

	background-color: var(--background-color-card__caption);

	border-radius: 0px 0px 4px 4px;
}