/* --- CONTACT STYLES --- */
.contact {
	display: none;

	@media screen and (min-width: 768px) {
		display: block;		
	}

	@media screen and (min-width: 1200px) {
		margin-left: auto;
	}
}

.contact__icon-email,
.contact__icon-smartphone {
	fill: currentColor;
}

.contact__link {
	transition: color var(--transform-and-animation);

	&:hover,
	&:focus {
		outline: none;
		color: var(--accent-text-color);
	}
}

.contact__list {
	align-content: center;

	@media screen and (min-width: 1200px) {
		display: flex;
		gap: var(--width-gap-list);
	}
}

.contact__item + .contact__item {

	@media screen and (max-width: 1199px) {
		margin-top: 10px;
	}
}