/* --- FOOTER STYLES --- */
.footer {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	padding-top: 60px;
	padding-bottom: 60px;

	background-color: var(--background-color-footer-hero);
}

.footer__contacts {
	color: var(--footer-contact-color);
}

.footer__logo {
	margin-bottom: 20px;
}

.footer__socials {
	@media screen and (max-width: 1199px) {
		display: flex;
		flex-direction: column;
		align-items: center;		
	}

	@media screen and (min-width: 1200px) {	
		padding-top: 12px;
		padding-bottom: 40px;
	}
}

.footer__list {
	margin-top: 20px;
}

.footer__container {
	--indent: 60px;

	display: flex;
	flex-direction: column;
	gap: var(--indent);

	@media screen and (max-width: 481px) {
		align-items: center;		
	}

	@media screen and (max-width: 1199px) {	
		padding-left: 70px;
		padding-right: 70px;
	}

	@media screen and (min-width: 1200px) {	
		flex-direction: row;
		align-items: baseline;
		gap: 0;
	}


}
