/* --- SUBSCRIBE-FORM STYLES --- */
.subscribe-form {
	display: block;

	@media screen and (min-width: 1200px) {
		margin-left: auto;		
	}
}

.subscribe-form__field {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (min-width: 1200px) {
		flex-direction: row;
		align-items: flex-end;
		gap: 12px;		
	}
}
.subscribe-form__label {
	display: flex;

	@media screen and (max-width: 1199px) {
		margin-bottom: 20px;		
	}
	
	// flex-basis: 360px;
}
.subscribe-form__title {
	display: block;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	margin-bottom: 20px;

	@media screen and (max-width: 1199px) {
		text-align: center;
	}

	color: var(--color-text-white);
}

.subscribe-form__input {
	display: inline-flex;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;

	width: 75vw;
	height: 50px;

	padding: 15px 16px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;

	background-color: transparent;

	transition: box-shadow var(--transform-and-animation);

	@media screen and (min-width: 481px) {
		width: 360px;		
	}

	&:focus {
		outline: none;
		border: 1px solid  rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3);
	}
	
	&:not(:placeholder-shown):invalid {
		border: 1px solid  rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3);
	}
	
	&:not(:placeholder-shown):valid {
		border: 1px solid var(--accent-text-color);
		box-shadow: 0 0 4px 1px  var(--accent-text-color);
	}
}

.subscribe-form__button {
	position: relative;
	max-width: 200px;
	height: 50px;
	align-items: center;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 62px;
	padding-left: 28px;

	font-family: 'Roboto';
	font-style: normal;
}