/* --- SUBSCRIBE-FORM STYLES --- */
.subscribe-form {
	display: block;
	margin-left: auto;
}

.subscribe-form__field {
	display: flex;
	align-items: flex-end;
	gap: 12px;
}
.subscribe-form__label {
	display: flex;

	
	flex-basis: 360px;
}
.subscribe-form__title {
	display: block;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	margin-bottom: 20px;

	color: var(--color-text-white);
}

.subscribe-form__input {
	display: inline-flex;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;

	width: 360px;
	height: 50px;

	padding: 15px 16px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;

	background-color: transparent;

	transition: box-shadow var(--transform-and-animation);

	&:focus {
		outline: none;
		border: 1px solid  rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3);
	}
	
	&:not(:placeholder-shown):invalid {
		border: 1px solid  rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3);
	}
	
	&:not(:placeholder-shown):valid {
		border: 1px solid var(--accent-text-color);
		box-shadow: 0 0 4px 1px  var(--accent-text-color);
	}
}

.subscribe-form__button {
	position: relative;
	max-width: 200px;
	height: 50px;
	align-items: center;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 62px;
	padding-left: 28px;

	font-family: 'Roboto';
	font-style: normal;
}