/* --- TEAM SECTION --- */
:root {
	--indent: 30px;	
	--items: 1;
}

.team {
	@extend %container;
}

.team__title {
	margin-bottom: 30px;

	font-weight: 700;
	font-size: 28px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--h-headline-text-color);
	
	@media screen and (min-width: 1200px) {
		font-size: 36px;
		margin-bottom: 50px;
	}

}

.team__list {					
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--indent);
			
	//desktop screen
	@media screen and (min-width: 1200px) {			
		flex-wrap: nowrap;
	}
}

.team__item {
	box-shadow: var(--card-box-shadow);
	border-radius: 0px 0px 4px 4px;

	@media screen and (min-width: 768px) {
		--items: 2;

		flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
		
	}

	// @media screen and (min-width: 1200px) {
	// 	--items: 3;

	// 	flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
		
	// }
		
}

.team-section {
	@extend %section;
	background-color: var(--background-color-teams);
}