/* --- CARD-SET (GRID) --- */
.card-set {
	cursor: pointer;
	
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	
		gap: var(--width-gap-list);		
	}
	
	@media screen and (min-width: 1200px) {	
		justify-content: center;		
	}
}

.card-set__item {
	display: flex;
	flex-direction: column;
	
	flex-basis: calc(
		(100% - var(--width-gap-list) * (var(--column-pieces) - 1)) /
			var(--column-pieces)
	);

	@media screen and (max-width: 768px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}		
	}

	transition: box-shadow var(--transform-and-animation);

            &:hover,
            &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        	}

			&:hover .card-thumb__text,
			&:focus .card-thumb__text {
			transform: translateY(0);
			}

	@media screen and (min-width: 768px) {		
		margin-bottom: 0;

		--column-pieces: 2;

		flex-basis: calc(
		(100% - var(--width-gap-list) * (var(--column-pieces) - 1)) /
			var(--column-pieces)
		);	
	}

	@media screen and (min-width: 1200px) {		
		--column-pieces: 3;

		flex-basis: calc(
		(100% - var(--width-gap-list) * (var(--column-pieces) - 1)) /
			var(--column-pieces)
		);	
	}	
}